/* Carousel styling start */
.carousel-caption{
    position: absolute;
    top : 200px;
   

}


/* Carousel styling end */




/* card styling  start*/
.flex-container{
    display: flex;
    margin: 10px;
    margin-top: 20px;
    flex-wrap: wrap;
}

.card-box{
 position: relative;
 float: left;
 margin: 10px;
 padding: 10px;
 max-height: 300px;
 max-width: 450px;
 box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.card-box-img {
    max-height: 280px;
    width: 200px;
    float: left;
    border: 5px solid gray;
}

.card-box-text{
    padding-left: 210px;

}

.card-box-text>h5{
    text-align: center;
}
.card-box-text>p {
   text-align: justify;
}

.card-box .btn {
    position: relative;
    float: right;
}

/* card styling  end*/