
  <!-- navbar start -->
  <nav class="navbar navbar-expand-lg navbar-light bg-lighter " >
    <a class="navbar-brand" href="#"> <span style="font-size: 30px;" class="text-primary"> <i class="fas fa-book-reader"></i> </span> </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto d-flex justify-content-between">
        <li class="nav-item ">
          <a class="nav-link text-primary" href="/"> Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link  text-primary" href="#">Service</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle text-primary" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Department
          </a>
          <div class="dropdown-menu bg-primary" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="#">Action</a>
            <a class="dropdown-item" href="#">Another action</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Something else here</a>
          </div>
        </li>
  
        <li class="nav-item">
             <a class="nav-link text-primary" href="/about"> About Us </a>
        </li>

        <li class="nav-item">
          <a class="nav-link text-primary" href="/contact"> Contact </a>
     </li>
     
     <li class="nav-item">
      <a class="nav-link text-primary" href="#"> Magazine </a>
     </li>

     <li class="nav-item">
      <a class="nav-link text-primary" href="/books"> Books </a>
     </li>

      
        
        <!-- social media -->
        <li class="nav-item  px-5" >
           <a href="#"> <i style="font-size: 30px; color: #4267B2;" class="fab fa-facebook-square"></i></a>
           <a href="#"> <i style="font-size: 30px; color: #1DA1F2;" class="fab fa-twitter-square"></i></a>
           <a href="#"> <i style="font-size: 30px;" class="fab fa-linkedin"></i></a>
           <a href="#"> <i style="font-size: 30px; color: #E60023;" class="fab fa-pinterest-square "></i></a>
        </li>
      </ul>
      
      
      <div class="mx-5"></div>
      <a class="btn btn-primary mx-1" href="/register">Register</a>
      <a class="btn btn-primary"  href="/login">login</a>
    </div>
  </nav>

  <!-- navbar end -->




  <!-- Banner section start  -->

    <style>
  /* Make the image fully responsive */
  .carousel-inner img {
    width: 100%;
    height: 550px;
  }
  </style>

<div id="demo" class="carousel slide" data-ride="carousel">
  <ul class="carousel-indicators">
    <li data-target="#demo" data-slide-to="0" class="active"></li>
    <li data-target="#demo" data-slide-to="1"></li>
    <li data-target="#demo" data-slide-to="2"></li>
       <li data-target="#demo" data-slide-to="3"></li>
  </ul>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="image/banner/2.jpg" alt="Los Angeles" width="1100" height="500">
      <div class="carousel-caption text-center">
        <a style="width: 400px; font-size :30px; font:bold;" href="/books" class="form-control text-white  btn btn-info m-4 p-2"> Search your favorite book</a>
        <h3 > DUET CENTRAL LIBRARY </h3>
        <p>Read more learn more...</p>
      </div>   
    </div>
    <div class="carousel-item">
      <img src="image/banner/1.jpg" alt="Chicago" width="1100" height="500">
      <div class="carousel-caption">
        <a style="width: 400px; font-size :30px; font:bold;" href="/books"  class="form-control text-white  btn btn-info m-4 p-2"> Read your fevorite book</a>
        <h3 > DUET CENTRAL LIBRARY </h3>
        <p>Read more learn more...</p>
      </div>   
    </div>
    <div class="carousel-item">
      <img src="image/banner/3.jpg" alt="New York" width="1100" height="500">
      <div class="carousel-caption">
        <a style="width: 400px; font-size :30px; font:bold;" href="/books" class="form-control text-white  btn btn-info m-4 p-2"> Learn from your fevorite Book</a>
        <h3 > DUET CENTRAL LIBRARY </h3>
        <p>Read more learn more...</p>
      </div>   
    </div>
    <div class="carousel-item">
      <img src="image/banner/4.jpg" alt="New York" width="1100" height="500">
      <div class="carousel-caption">
        <a style="width: 400px; font-size :30px; font:bold;" href="/books" class="form-control text-white  btn btn-info m-4 p-2"> Teach your favorite book</a>
        <h3 > DUET CENTRAL LIBRARY </h3>
        <p>Read more learn more...</p>
      </div>   
    </div>
  </div>
  <a class="carousel-control-prev" href="#demo" data-slide="prev">
    <span class="carousel-control-prev-icon"></span>
  </a>
  <a class="carousel-control-next" href="#demo" data-slide="next">
    <span class="carousel-control-next-icon"></span>
  </a>
</div>
<!-- Banner section send -->





   {{!-- Card start  --}}
 <div class="jumbotron my-0">
   <h4 class="text-center"> Top 10 Books of the Week</h4>
    <hr class="bg-primary" style="width: 500px;"/>
    <div class="flex-container">



        <div class="card-box">
            <img  class="card-box-img" src="image/books/1.jpg" />
            <div class="card-box-text">
              <h5 class="bg-primary text-white p-2"> The Forsaken Throne </h5>
              <p class=""> devastating disaster has left the Forbidden Court in ashes, its fountains destroyed, and its magic at risk. It was destined as the site of Trynne Kiskaddon’s coronation as empress.</p>
            </div>
            <a class="btn btn-dark"> Read more...</a>
        </div>  

        <div class="card-box">
            <img  class="card-box-img" src="image/books/2.jpg" />
            <div class="card-box-text">
              <h5 class="bg-primary text-white p-2"> The Forsaken Throne </h5>
              <p class=""> devastating disaster has left the Forbidden Court in ashes, its fountains destroyed, and its magic at risk. It was destined as the site of Trynne Kiskaddon’s coronation as empress.</p>
            </div>
            <a class="btn btn-dark"> Read more...</a>
        </div> 

        <div class="card-box">
            <img  class="card-box-img" src="image/books/3.jpg" />
            <div class="card-box-text">
              <h5 class="bg-primary text-white p-2"> The Forsaken Throne </h5>
              <p class=""> devastating disaster has left the Forbidden Court in ashes, its fountains destroyed, and its magic at risk. It was destined as the site of Trynne Kiskaddon’s coronation as empress.</p>
            </div>
            <a class="btn btn-dark"> Read more...</a>
        </div> 
        <div class="card-box">
            <img  class="card-box-img" src="image/books/4.jpg" />
            <div class="card-box-text">
              <h5 class="bg-primary text-white p-2"> The Forsaken Throne </h5>
              <p class=""> devastating disaster has left the Forbidden Court in ashes, its fountains destroyed, and its magic at risk. It was destined as the site of Trynne Kiskaddon’s coronation as empress.</p>
            </div>
            <a class="btn btn-dark"> Read more...</a>
        </div> 
        <div class="card-box">
            <img  class="card-box-img" src="image/books/5.jpg" />
            <div class="card-box-text">
              <h5 class="bg-primary text-white p-2"> The Forsaken Throne </h5>
              <p class=""> devastating disaster has left the Forbidden Court in ashes, its fountains destroyed, and its magic at risk. It was destined as the site of Trynne Kiskaddon’s coronation as empress.</p>
            </div>
            <a class="btn btn-dark"> Read more...</a>
        </div> 
        <div class="card-box">
            <img  class="card-box-img" src="image/books/6.jpg" />
            <div class="card-box-text">
              <h5 class="bg-primary text-white p-2"> The Forsaken Throne </h5>
              <p class=""> devastating disaster has left the Forbidden Court in ashes, its fountains destroyed, and its magic at risk. It was destined as the site of Trynne Kiskaddon’s coronation as empress.</p>
            </div>
            <a class="btn btn-dark"> Read more...</a>
        </div> 

        <div class="card-box">
            <img  class="card-box-img" src="image/books/7.jpg" />
            <div class="card-box-text">
              <h5 class="bg-primary text-white p-2"> The Forsaken Throne </h5>
              <p class=""> devastating disaster has left the Forbidden Court in ashes, its fountains destroyed, and its magic at risk. It was destined as the site of Trynne Kiskaddon’s coronation as empress.</p>
            </div>
            <a class="btn btn-dark"> Read more...</a>
        </div> 

        <div class="card-box">
            <img  class="card-box-img" src="image/books/8.jpg" />
            <div class="card-box-text">
              <h5 class="bg-primary text-white p-2"> The Forsaken Throne </h5>
              <p class=""> devastating disaster has left the Forbidden Court in ashes, its fountains destroyed, and its magic at risk. It was destined as the site of Trynne Kiskaddon’s coronation as empress.</p>
            </div>
            <a class="btn btn-dark"> Read more...</a>
        </div> 
        
        <div class="card-box">
            <img  class="card-box-img" src="image/books/9.jpg" />
            <div class="card-box-text">
              <h5 class="bg-primary text-white p-2"> The Forsaken Throne </h5>
              <p class=""> devastating disaster has left the Forbidden Court in ashes, its fountains destroyed, and its magic at risk. It was destined as the site of Trynne Kiskaddon’s coronation as empress.</p>
            </div>
            <a class="btn btn-dark"> Read more...</a>
        </div> 
                
        <div class="card-box">
            <img  class="card-box-img" src="image/books/10.jpg" />
            <div class="card-box-text">
              <h5 class="bg-primary text-white p-2"> The Forsaken Throne </h5>
              <p class=""> devastating disaster has left the Forbidden Court in ashes, its fountains destroyed, and its magic at risk. It was destined as the site of Trynne Kiskaddon’s coronation as empress.</p>
            </div>
            <a class="btn btn-dark"> Read more...</a>
        </div> 
        <div class="card-box">
            <img  class="card-box-img" src="image/books/11.jpg" />
            <div class="card-box-text">
              <h5 class="bg-primary text-white p-2"> The Forsaken Throne </h5>
              <p class=""> devastating disaster has left the Forbidden Court in ashes, its fountains destroyed, and its magic at risk. It was destined as the site of Trynne Kiskaddon’s coronation as empress.</p>
            </div>
            <a class="btn btn-dark"> Read more...</a>
        </div> 
         
        <div class="card-box">
            <img  class="card-box-img" src="image/books/12.jpg" />
            <div class="card-box-text">
              <h5 class="bg-primary text-white p-2"> The Forsaken Throne </h5>
              <p class=""> devastating disaster has left the Forbidden Court in ashes, its fountains destroyed, and its magic at risk. It was destined as the site of Trynne Kiskaddon’s coronation as empress.</p>
            </div>
            <a class="btn btn-dark"> Read more...</a>
        </div> 
        
         

    </div>
  
 </div>
{{!-- card end  --}}




<!-- footer start -->
<div class="jumbotron my-0 bg-dark text-white">
  <div class="row">
    <div class="col-md">
      <h4> Address  </h4>
      

      <p>Dhaka University of Engineering and Technology,Gazipur,1702. Shimultoli Road</p>

    </div>

    <div class="col-md">
      <h4> Update</h4>
      <p> During the covid pandemic,DUET central library has been close. Students are connected through internet and can collect soft copy of the book.</p>
    </div>

    <div class="col-md">

      <h4 > Social Contact </h4>
      <p> <b>Email : </b> duet-library@duet.bd</p>
      <hr class="text-left" style="background-color: white; "/>
      <a href="#"> <i style="font-size: 40px; color: #4267B2;" class="fab fa-facebook-square m-2"></i></a>
      <a href="#"> <i style="font-size: 40px; color: #1DA1F2;" class="fab fa-twitter-square m-2 "></i></a>
      <a href="#"> <i style="font-size: 40px; color: #E60023;" class="fab fa-pinterest-square m-2 "></i></a>
      <a href="#"> <i style="font-size: 40px; color: #DB4437;" class="fab fa-google m-2 "></i></a>
    </div>

    <div class="col-md ">
      <h4>usefull links</h4>
      <hr/>

      <a class="nav-link text-white" href="#">Costumer Service </a>
      <a class="nav-link text-white" href="#"> Desk</a>
      <a class="nav-link text-white" href="#" >Forum</a>
      <a class="nav-link text-white" href="#">Staff Profile</a>
      <a class="nav-link text-white" href="#"> Live Chat </a>
     </div>
  </div>
  

</div>


<!-- footer end -->

