
<div  class="row jumbotron my-0">
 <div class="col-md">
     <a href="/"><i style="font-size: 50px;" class="fas fa-laptop-house text-primary"></i></a>
 </div>
 <div class="col-md">
     <div class="jumbotron shadow p-3 mb-5 bg-white rounded">
        <h3 class="text-center bg-primary p-4 text-white" > Login Form </h3>
         <form  autocomplete="off" method="post" action="/login">
            <label> Email</label>
            <input class="form-control"  type="text" name="email"/> 
            <label> Password</label>
            <input class="form-control"  type="password" name="password" /> 
              <select class="form-control text-primary my-3"> 
               <option class="form"> Select...</option>
               <option value="student"> Student </option>
               <option value="teacher"> Teacher </option>
               <option value="admin"> Admin</option>
            </select>
            <hr/>
            <button class="form-control btn btn-primary" > login </button>
         </form>
         <p class="text-center"> Don't have account? <a href="/register"> Register </a> </p>

     </div>
 </div>
 <div class="col-md"></div>
  <span class="carousel-control-next-icon"></span>
</div>

