
<div  class="row">
 <div class="col-md"></div>
 <div class="col-md">
     <div class="jumbotron">
        <h3 class="text-center" > User Registration Form </h3>
         <form autocomplete="off" method="post" action="/registration">
            <label>Fullname</label>
            <input class="form-control" type="text" name="name" />
            
            <label>Email</label>
            <input class="form-control" type="email" name="email" />
            

            <label>Password</label>
            <input class="form-control" type="password" name="password" />
            
            
            <hr/>

            <button class="form-control btn btn-primary" > Submit </button>
         </form>
          <a href="/login">login</a>
     </div>
 </div>
 <div class="col-md"></div>

</div>